*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to bottom, #360b5e, transparent);
    box-sizing: border-box;
    flex-wrap: wrap;
  }
  /*menu*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(243, 243,243,0.2);
    max-width: 100%;
}
#title-1{  /*titulo del menù*/
    position: relative;
    color: rgb(201, 148, 50);
    letter-spacing: 2.5px;
    font-weight: 200px;
    transition: 1.3s;
    text-decoration: none;
    font-size: 43px;
    font-family: 'Rubik Bubbles', cursive;
    padding-left: 30px;
    padding-top: -15px;
}

nav ul{
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 0 20px;
    text-decoration: none;
}
nav ul li a{
    color: #000;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    display: block;
    text-align: center;
    flex-wrap: wrap;
    font-family: 'Yeon Sung', cursive;

}
nav ul li a:hover{
    color: #088e49;
}
.busqueda{
    margin-left: -150px;
    background: #fff;
    padding: 10px;
    border-radius: 50px;
    margin-right: 20px;
}
.busqueda i{
    height: 23px;
    width: 23px;
    padding-left: 8px;
    color: black;
}
.busqueda input{
    padding-left: 5px;
    border: none;
    outline: none;
}
.menu-vertical{
    transform: translate(-27px);
	position: fixed;
	display: none;
	list-style: none;
	width: 110px;
    text-align: center;
	background-color: rgba(0, 0, 0, .5);
    z-index: 1000;
    position: absolute;
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}


#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}



/*contenido*/
  .container{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1000;
    height: 650px;
    padding: 5px;
    margin-left: 50px;
    margin-right: 50px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(204, 183, 183, 0.2);
    border-radius: 30px;
  }
  .container h1{
    text-align: center;
    font-size: 50px;
    color: #fafcff;
    margin-top: 30px;
  }
  .text-input{
    float: left;
    margin-left: 20px;
    margin-top: 10%;
    padding-left: 10px;
    padding-right: 10px;
    color: #0a1d35;
    width: 80%;
    height: 60%;
    background: #e4d6f7;
    outline: none;
    font-size: 20px;
    border-radius: 20px;
    border-color: #31114b;
    box-shadow: 0 0 5px rgb(56, 10, 94), 0 0 10px rgb(109, 11, 189);
  }
  
  .left{
    float: left;
    width: 70%;
    height: 50%;
    border-radius: 24px;
  }
  
  .left-button{
    float: left;
    width: 70%;
    height: auto;
    border-radius: 24px;
    text-align: left;
  }
  button img{
    height: 20px;
    padding-right: 10px;
  }
  #btn-encriptar{
    padding: 24px;
    width: 30%;
    height: 60%;
    background: #53329e;
    border-radius: 24px;
    margin-left: 8%;
    font-size: 20px;
    color: black;
  }
  #btn-desencriptar{
    color: black;
    font-size: 20px;
    padding: 24px;
    width: 30%;
    height: 60%;
    background: #a486f8;
    border-radius: 24px;
    margin-left: 10%;
  }
  #btn-encriptar:hover{
    background-color: #5c2b79;
    color: white;
  }
  #btn-desencriptar:hover{
    background-color: #60409c;
    color: white;
  }

  p{
    margin-left: 5%;
  }
  .right{
    float: right;
    text-align: center;
    border-radius: 24px;
    width: 30%;
    height: 70%;
    margin-left: -30px;
    margin-right: 3px;
  }
  
  #imgDer{
    margin-top: 10%;
    width: 90%;
    height: auto;
    left: 1032px;
    top: 283px;
  }
  #texto #texto2{
    margin-left: 5%;
    margin-right: 5%;
  }
  
  #copiar{
    margin-left: 33%;
    margin-top: 90%;
    display: none;
    padding: 24px;
    width: 40%;
    height: 10%;
    background: #D8DFE8;
    border-radius: 24px;
  }
  .logo{
    width: 100%;
    float: left;
  }
  .logoImg{
    margin-top: 1%;
    float: inherit;
    margin-left: 5%;
  }
  .tittle{
    float: inherit;
    margin-left: 15%;
  }

  #texto{
    font-size: 30px;
    color: #340b3f;
  }
  
  #texto2{
    float: left;
    margin-left: 10%;
    margin-top: 6px;
    color: #0A3871;
    width: 80%;
    height: 10%;
    background: #f8ffd3;
    outline: none;
    padding-top: 6px;
    border-color: 5px #0b3f22;
    border-radius: 20px;
    font-size: 15px;
    text-align: center;
  }
  
  h3{
    text-align: center;
  }
  
  #imgYt{
    float: right;
    margin-right: 5%;
    width: 10%;
    height: 10%;
  }
  


  
/*Footer*/
footer{
    background: #1a0024;
    padding-bottom: 0.1px;
    margin-top: 3px;
    flex-wrap: wrap;
    align-items: center;
}
footer .entrada{
    text-align: center;
    padding-bottom: 1px;
    align-items: center;
    flex-wrap: wrap;
}

footer .entrada p{
    color: rgb(223, 194, 255);
    font-size: 62px;
    text-align: center;
}



.redes li{
    display: inline-block;
}


footer .sociales{
    display: inline-block;
    letter-spacing: 30px;
    text-align: center;
    margin-left: -80px;
}
.media{
    display: inline-block;
    letter-spacing: 50px;
    margin-left: 10px;
    width: 60px;
    height: 55px;
    border: 2px solid white;
    border-radius: 50%;
    text-align: center;
    color: white;
    margin-top: 30px;
    animation: animacion 2s linear infinite;
}
.media:hover{
    background-color: black;
}
@keyframes animacion{
    0%{
        box-shadow: 0 0 0 0 rgba(29, 171, 289, 0.6), 0 0 0 0 rgba(29, 171, 289, 0.6);
    }
    30%{
        box-shadow: 0 0 0 50px rgba(29, 171, 289, 0), 0 0 0 0 rgba(29, 171, 289, 0.6);
    }
    65%{
        box-shadow: 0 0 0 50px rgba(29, 171, 289, 0), 0 0 0 30 rgba(29, 171, 289, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(29, 171, 289, 0), 0 0 0 30 rgba(29, 171, 289, 0);
    }
}

.media i{
    font-size: 30px;
    line-height: 52px;
    padding-left: 5px;
}


/*Aquí debajo va el FOOTER*/

/*Footer*/
footer{
    background: #1a0024;
    padding-bottom: 0.1px;
    margin-top: 3px;
    flex-wrap: wrap;
    align-items: center;
}
footer .entrada{
    text-align: center;
    padding-bottom: 1px;
    align-items: center;
    flex-wrap: wrap;
}

footer .entrada p{
    color: rgb(223, 194, 255);
    font-size: 62px;
    text-align: center;
}



.redes li{
    display: inline-block;
}


footer .sociales{
    display: inline-block;
    letter-spacing: 30px;
    text-align: center;
    margin-left: -80px;
}
.media{
    display: inline-block;
    letter-spacing: 50px;
    margin-left: 10px;
    width: 60px;
    height: 55px;
    border: 2px solid white;
    border-radius: 50%;
    text-align: center;
    color: white;
    margin-top: 30px;
    animation: animacion 2s linear infinite;
}
.media:hover{
    background-color: black;
}
@keyframes animacion{
    0%{
        box-shadow: 0 0 0 0 rgba(29, 171, 289, 0.6), 0 0 0 0 rgba(29, 171, 289, 0.6);
    }
    30%{
        box-shadow: 0 0 0 50px rgba(29, 171, 289, 0), 0 0 0 0 rgba(29, 171, 289, 0.6);
    }
    65%{
        box-shadow: 0 0 0 50px rgba(29, 171, 289, 0), 0 0 0 30 rgba(29, 171, 289, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(29, 171, 289, 0), 0 0 0 30 rgba(29, 171, 289, 0);
    }
}

.media i{
    font-size: 30px;
    line-height: 52px;
    padding-left: 14px;
}


/*Aquí debajo va el FOOTER*/

footer{
    width: 100%;
    padding: 40px 0px;
    
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}



.boxer__footer .terms{
    max-width: 310px;
    margin-top: 20px;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
}

.box__footer p{
    color: #ffffff;
}


.box__footer{
    color: #fb95ff;
    font-weight: 700;
    margin-left: -90px;
}

.box__footer a{
    margin-top: 10px;
    color: #3a3838;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.5;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}




.burbuja{
    border-radius: 50%;
    background: #fff;
    opacity: .3;

    position: absolute;
    bottom: -150;
    
    animation: burbujas 3s linear infinite ;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}

.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}


@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}